<%= form_for(@list) do |f| %>
  <% if @list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
      <% @list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
   
    <%= f.text_field :description, class:'form-control'%>
  </div>
  <div class="form-group form-check">
    <%= f.check_box :completed ,class:'form-check-input' %>
    <%= f.label :completed %><br>
  
  </div>
  <div class="actions">
    <%= f.submit "Update to do item", class: 'btn btn-default' %>
  </div>
<% end %>
